@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Nanum+Gothic');

html { margin-left: calc(100vw - 100%); }

body {
  background-image: url("../media/bg.png");
  background-color: #EEEEEE;
  background-attachment: fixed;
  margin: 0;
  overflow-x: hidden !important;
}

.themebg {
    background-image: url("../media/blocks/2.jpg");
    width: 500px;
    height: 500px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-size: auto 102%;
    background-position: center;
    background-repeat:  repeat;
    background-attachment: fixed;
    z-index: -1;

    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1), z-index 0.5s step-end;
}

.box {
    width: 500px;
    height: 500px;
    margin: 30px;

    border: 1px solid black;
    background-size: auto 102%;
    background-position: left;

    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    filter: saturate(50%);
    filter: blur(0px);
    cursor: pointer;
    z-index: 0;
}

.box:hover:not(.current) > .bg-tile{
    background-size: auto 102%;
    filter: saturate(90%);
    filter: blur(2px);
}

.box.current {
    z-index: 1;
    border: 0;
    cursor: default;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1), z-index 0.75s step-start;
}

.box.current > .themebg {
    width: 200vw;
    height: 200vh;
    left: -50vw;
    top: -50vh;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.container {
  width: 77vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.titleflexbox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-tile {
    position: absolute;
    width: 500px;
    height: 500px;

    background-size: auto 102%;
    background-position: center;

    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    filter: saturate(50%);
    filter: blur(0px);

    background-attachment: fixed;

    z-index: -2;
}

.imgtitle {
    font-size: 75px;
    font-family: 'Montserrat', sans-serif;
    color: #FEFEFE;
    opacity: 1;
    filter: blur(0px);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-transform: uppercase;

    background: url("../media/bg.png");
    background-position: left;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ptext {
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #FDFDFD;
    padding: 15%;
    opacity: 0;
    filter: blur(3px);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.box:hover:not(.current) > .titleflexbox > .imgtitle {
    opacity: 0;
    filter: blur(3px);
}

.box:hover:not(.current) > .textflexbox > .ptext {
    opacity: 1;
    filter: blur(0px);
}

.textflexbox {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: left;
        width: 100%;
        height: 100%;
        overflow: hidden;
}


#box-1 > .bg-tile{
    background-image: url("../media/blocks/2.jpg");
}

#box-2 > .bg-tile{
    background-image: url("../media/blocks/6.jpg");
}

#box-3 > .bg-tile{
    background-image: url("../media/blocks/6.jpg");
}

#box-4 > .bg-tile{
    background-image: url("../media/blocks/2.jpg");
}

#box-5 > .bg-tile{
    background-image: url("../media/blocks/2.jpg");
}

#box-6 > .bg-tile{
    background-image: url("../media/blocks/6.jpg");
}
